body
{
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.shoename {
  display: flex;
  align-items: center;
  justify-content: center;
    font-size: 40px;
    font-weight: bold;
    color: rgb(92, 92, 186);
    transform: translateY(-100px); 
    opacity: 0; 
    animation: slideInFromTop 2s ease-out forwards; 
    margin-top: 30px;
  }
  

  @keyframes slideInFromTop {
    0% {
      transform: translateX(-700px);
      opacity: 0.1;
    }
    50% {
      transform: translateX(30px); 
      opacity: 0.7;
    }
    100% {
      transform: translateX(5px); 
      opacity: 1.5;
    }
  }
  
  .jordannn {
  height: auto;
  margin-top: 10px;
  display: flex;
  align-items: center; 
  justify-content: center;
  transition: transform 0.5s;
  position: relative;
  cursor: pointer;
}

.jordannn img {
  max-width: 100;
  transition: transform 0.5s ease;
}

.jordannn:hover img {
  transform: scaleX(-1); 
}

  b{
      font-size: 40px;
      margin-top: 10px;
      font-weight: bolder;
      margin-left: 4%;
  }

.atext{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.ipad {
display: flex;
justify-content: center;
align-items: center;
position: relative;
}

.carousel-container {
position: relative;
width: 80%;
max-width: 900px;
overflow: hidden;
border: 2px solid #ccc;
border-radius: 10px;
}

.carousel {
display: flex;
transition: transform 0.5s ease-in-out;
}

.carousel-slide {
flex: 0 0 66.6%; 
margin-right: 10px; 
box-sizing: border-box;
}

.carousel-slide img {
width: 100%;
height: 500px;
object-fit: cover; 
}

button {
position: absolute;
top: 50%;
transform: translateY(-50%);
background-color: rgba(0, 0, 0, 0.5);
color: white;
border: none;
padding: 10px 20px;
cursor: pointer;
border-radius: 5px;
}

button.prev {
left: 10px;
}

button.next {
right: 10px;
}
button:hover {
background-color: rgba(0, 0, 0, 0.8);
}
.mainipad img{
  max-width: 100%;
  height: auto;
}

.containertv {
display: flex;
flex-direction: row;
max-width: 1200px;
margin: 0 auto;
padding: 20px;
}

.texttv {
width: 60%;
padding: 20px;
overflow: auto;
}

.texttv h1 {
font-size: 2.5em;
margin-bottom: 20px;
}

.texttv p {
margin-bottom: 20px;
font-size: 25px;
line-height: 2;
margin-top: 30px;
margin-bottom: 560px;
padding: 20px;
}

.video {
width: 80%;
position: sticky;
top: 20px; 
height: 100vh;
display: flex;
align-items: center;
justify-content: center; 
}

.video video {
width: 1600px;
max-width: 95%; 
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
h1
{
    width: 90%;
    margin: auto;
    padding: 50px 0;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: capitalize;
}
#containerClothing, #containerAccessories
{
    display: grid;
    grid-gap: 70px 20px;
    grid-template-columns: repeat(5, 1fr);
    width: 90%;
    margin: auto;
    padding-bottom: 40px;
}
#box 
{
    width: 100%;
    background-color: white;
    align-content: center;
    border-radius: 10px;
    box-shadow: 1px 2px 6px 2px rgb(219, 219, 219);
}
#box:hover
{
    box-shadow: 1px 6px 3px 0 rgb(185, 185, 185);
}
#containerClothing img
{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#containerAccessories img
{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#details
{
    padding: 0 15px;
    text-transform: capitalize;
}
#box a 
{
    text-decoration: none;
    color: rgb(29, 29, 29);
}
h3
{
    font-size: 16px;
}
h4
{
    font-weight: 100;
}
h2
{
    color: rgb(3, 94, 94);
}
.popp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 10px;
  }
  
  .card {
    width: 400px;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 36px;
    perspective: 2500px;
    margin: 0 50px;
    border-radius: 5px;
  }
  
  .cover-image {
    width: 471px;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
    z-index: -1;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    }
  
    .card:hover .cover-image {
        opacity: 0; 
      }
  .wrapper {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
    border-radius: 5px;
  }
  
  .card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(47deg) translateZ(0);
    filter: blur(1px);
    border-radius: 5px;
  }
  
  
  .wrapper::before,
  .wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
    border-radius: 5px;
  }
  
  .wrapper::before {
    top: 0;
    height: 100%;
    
    border-radius: 5px;
  }
  
  .wrapper::after {
    bottom: 0;
    opacity: 1;
    border-radius: 5px;
  }
  
  .card:hover .wrapper::before,
  .wrapper::after {
    opacity: 1;
  }
  
  .card:hover .wrapper::after {
    height: 120px;
  }
  
  
  
  .card:hover .title {
    transform: translate3d(0%, -50px, 100px);
  }
  
  .character {
    width: 350px;
    height: 350px;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
    top: 0;
  }
  
  .center-character {
    opacity: 0;
    transform: translate3d(0%, 50%, 100px);
}
  
  .left-character {
    left: -70%;
    opacity: 0;
    transform: translate3d(-50%, 0%, 100px);
  }
  
  .right-character {
    right: -70%;
    opacity: 0;
    transform: translate3d(50%, 0%, 100px);
  }
  
  .card:hover .left-character {
    opacity: 1;
    transform: translate3d(0%, 0%, 0);
  }
  
  .card:hover .right-character {
    opacity: 1;
    transform: translate3d(0%, 0%, 0);
  }
  
  .card:hover .center-character {
    opacity: 1;
    transform: translate3d(0%, 0%, 0);
  }
  
@media(max-width: 1070px)
{
    h1
    {
        font-size: 25px;
    }
    #containerClothing, #containerAccessories
    {
        width: 95%;
        grid-gap: 10px;
    }
}
@media(max-width: 850px)
{
    h1 
    {
        width: 80%;
    }
    #containerClothing, #containerAccessories
    {
        display: grid;
        grid-gap: 70px 20px;
        grid-template-columns: repeat(3, 1fr);
        width: 80%;
    }    
}
@media(max-width: 650px)
{
    h1
    {
        font-size: 20px;
    }
    h1 
    {
        width: 90%;
    }
    #containerClothing, #containerAccessories
    {
        width: 90%;
    }
}
@media(max-width: 600px)
{
    h1 
    {
        width: 70%;
    }
    #containerClothing, #containerAccessories
    {
        width: 70%;
    }
}
@media(max-width: 505px)
{
    h1 
    {
        width: 80%;
    }
    #containerClothing, #containerAccessories
    {
        width: 80%;
        grid-template-columns: repeat(2, 1fr);
    }
}